.bill {
  display: grid;
  grid-template-columns: minmax(auto, 50%) auto;
  column-gap: 1.4rem;
  background-color: $color-neutral-white;
  width: 86.4rem;
  padding: 3rem;
  border-radius: 2rem;
  margin: 8rem 6rem;
  box-shadow: 0 1.5rem 1.5rem rgba(0, 0, 0, 0.1);

  @include respond(tab-port) {
    display: inline;
    grid-template-rows: 50% auto;
    width: 100%;
    border-radius: 2rem 2rem 0 0;
  }

  @include respond(mobile-m) {
    margin: 4rem 0 0 0;
    padding: 2.2rem;
  }

  &__form {
    padding: 1.2rem 3rem 1.2rem 1.4rem;

    @include respond(tab-port) {
      padding: 1rem;
      margin-bottom: 2.4rem;
    }
  }

  &__display {
    background-color: $color-primary-button;
    border-radius: 1.4rem;
    border: 0.5px solid green;
  }

  .display {
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include respond(mobile-m) {
      padding: 2.4rem;
    }

    &__box--1,
    &__box--2 {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 0.8rem;
    }

    &__box--2 {
      margin-top: 3rem;
    }

    .left--side {
      width: 100%;
    }

    .tip-amt,
    .total-amt {
      width: 100%;
      border: none;
      background: inherit;
      text-align: right;
      outline: none;
    }
  }
}
